<ion-header translucent>
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin" [fullscreen]="false" scrollY="false"> 
  <div class="greeting-container">
    <h1>FIND YOUR ACCOUNT</h1>
    <p>You may receive Email notification from us for</p>
    <p>security and login purposes</p>
  </div>

  <div class="input-field-container">
    <div class="reset-pass" [hidden]="showInput">
      <!-- Email Address -->
      <div id="ResetByEmail" [hidden]="showMobile">
        <div class="custom-input">
          <ion-input fill="outline" type="email" placeholder="Email"></ion-input>  
        </div> 
  
        <div class="reset-pass-option">
          <a (click)="toggleInputFields()">Search by mobile number instead?</a>
        </div>  
      </div>
      <!-- Mobile Phone-->
      <div id="ResetByNumber" [hidden]="!showMobile">
        <div class="custom-input">
          <ion-input fill="outline" type="tel" placeholder="Mobile Number"></ion-input>  
        </div>
        <div class="reset-pass-option">
          <a (click)="toggleInputFields()">Search by Email instead?</a>
        </div>   
      </div>
            
      <ion-button class="next-bttn" expand="block" [routerLink]="['/reset-password/code-resetpass']">
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
